@keyframes refreshing-loader {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
.spinner {
    -webkit-animation: refreshing-loader 1000ms infinite linear;
    animation: refreshing-loader 1000ms infinite linear;
    -moz-border-radius: 2.4em;
    -webkit-border-radius: 2.4em;
    border-radius: 2.4em;
    border: 0.4em solid #9ac;
    border-left-color: transparent;
    color: transparent;
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
    width: 3em;
    height: 3em;
    text-indent: 100%;
}