.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width:100%;
}
.gallery > img {
    max-width:100%;
}

.search {
    margin: auto;
    margin-bottom: 1.2rem;
}